{% extends "layout.html" %}
{% block body %}
<script src="{{ url_for('static', filename='js/chartjs/Chart.js') }}"></script>


    <div style="width: 100%">
      <canvas id="canvas" height="450" width="600"></canvas>
    </div>


  <script>
  var randomScalingFactor = function(){ return Math.round(Math.random()*100)};

  var barChartData = {
    labels : [{{ labels|safe }}],
    datasets : [
      {
        fillColor : "rgba(220,220,220,1)",
        strokeColor : "rgba(220,220,220,1)",
        highlightFill: "rgba(220,220,220,1)",
        highlightStroke: "rgba(220,220,220,1)",
        data : [{{ freq }}]
      }
    ]

  }
  window.onload = function(){
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myBar = new Chart(ctx).HorizontalBar(barChartData, {
      responsive : true
    });
  }

  </script>

{% endblock %}