{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Phrase', 'Frequency', {role: 'annotation'}],
      {% for entry in entries[0:10] %}
      ['{{entry[1]}}', {{entry[0]}}, {{entry[0]}}],
      {% endfor %}
    ]);

    var options = {
      title: '{{ chart_title }}',
      hAxis: {minValue: 0, gridlines: {color: 'transparent'}, textPosition: 'none'},
      legend: {position: 'none'},
      chartArea: {height: '90%', top: '8%'}
    };

    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>
<h2>{{num_words}} word phrases in {{text_title}}</h2>
<h3>Top phrases</h3>
<div id="chart_div" style="width: 100%; height: 400px;"></div>
<h3>All phrases that occur more than once</h3>
<table class="table">
  <thead><tr><th width="10%">Frequency</th><th width="90%">Phrase</th><tr></thead>
  <tbody>
{% for entry in entries if entry[0] > 1 %}
<tr>
  <td>{{entry[0]}}</td><td>{{entry[1]}}</td>
</tr>
{% endfor %}
  </tbody>
</table>
<hr />
<h3>Try some new text</h3>
<form name="phrase_input" method="post" action="/">
  <div class="form-group">
    <label for="text">Text</label>
    <textarea name="text" class="form-control" rows="6"></textarea>
  </div>
  <div class="form-group">
    <label for="num_words">Number of words in phrase</label>
    <input type="text" name="num_words" class="form-control"></input>
  </div>
  <input type="submit" value="Count phrases" class="btn btn-default">
</form>
{% endblock %}